*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.grid {
  margin: auto;
  max-width: fit-content;
  border: 1px solid black;
  width: fit-content;
}

.row {
  height: 20px;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.cell:hover {
  background-color: gainsboro;
}


.cell.alive:hover {
  background-color: black;
}

.alive {
  background-color: black;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

.main {
  padding: 2%;
  margin-top: 2%;
  width: fit-content;
  margin: auto;
}